---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class='no-js lt-ie9 lt-ie8 lt-ie7'> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]>
<html class='no-js lt-ie9 lt-ie8'><![endif]-->
<!--[if (IE 8)&!(IEMobile)]>
<html class='no-js lt-ie9'><![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js'><!--<![endif]-->
  <head>
    {% include head.html %}
    <link href='{{ site.url }}/assets/css/extras.css?v=0'
          rel='stylesheet'
          type='text/css'/>
  </head>
  <body>
    {% include nav.html %}
    <!-- Header -->
    <header class='header flex' role='banner'>
      <div class='container animated fadeIn'>
        <div class='row'>
          <a href='{{ site.url }}'>
            <img class='zoombtn' src='{{ site.neodroid_logo }}'>
          </a>
          <h3 class='title'>
            <a class='logo_img zoombtn' href='{{ site.url }}'>
              <p style='font-size:1.2rem;font-weight:300'>{{ site.title }}</p>
            </a>
          </h3>
          <hr class='hr-line'>
          <h3 class='title'>
            <a href='{{ site.url }}'>
              <p style='font-size:1rem;font-weight:300'>{{ site.bio }}</p>
            </a>
          </h3>

          <hr class='hr-line'>
          <h3 class='title'>
            <a class='btn zoombtn' href='{{ site.url }}/external/environments'>
              Environments
            </a>
            <a class='btn zoombtn' href='{{ site.url }}/setup'>
              Setup
            </a>
            <a class='btn zoombtn' href='{{ site.url }}/external/tutorials'>
              Tutorials
            </a>
            <a class='btn zoombtn' href='{{ site.url }}/external/documentation'>
              Documentation
            </a>
          </h3>
          <hr class='hr-line'>
          <h3 class='title'>API</h3>
          <h3 class='title'>
            <a class='btn zoombtn' href='{{ site.url }}/external/neo'>
              Neo
            </a>
            <a class='btn zoombtn' href='{{ site.url }}/external/droid'>
              Droid
            </a>
            <a class='btn zoombtn' href='{{ site.url }}/external/agent'>
              Agent
            </a>
          </h3>
          <hr class='hr-line'>
          <img class='footer_logo_img zoombtn' src='{{ site.sintef_logo }}'>
          <img class='footer_logo_img zoombtn' src='{{ site.frno_logo }}'>
          <a href='https://discord.gg/GrqwXrv'><img alt='Discord' src='{{site.discord_logo}}'></a>
          {% include social-links.html %}
        </div>
      </div>
    </header>
    {% include scripts.html %}
  </body>
</html>
